#### 1.User-Defined Function (5 Questions)

##### 1.Write a function to calculate the factorial of a number (without recursion).

In [6]:
def factorial(n):
    """
    Calculate the factorial of a non-negative integer n.

    Parameters:
    n (int): The number to calculate the factorial for.

    Returns:
    int: The factorial of n.
    """
    if n < 0:
        raise ValueError("Factorial is not defined for negative numbers")
    if n == 0 or n == 1:
        return 1
    return n * factorial(n - 1)
print (factorial(5))

120

##### 2.Write a function to check if a number is Armstrong or not.

In [1]:
def is_armstrong(number):
    digits = str(number)
    num_digits = len(digits)
    armstrong_sum = sum(int(digit) ** num_digits for digit in digits)
    return armstrong_sum == number

num = 153
if is_armstrong(num):
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

153 is an Armstrong number.

##### 3.Write a function that takes a list of numbers and returns only even numbers.

In [8]:
def get_even_numbers(numbers):
    """
    Return a list of even numbers from the given list.

    Parameters:
    numbers (list): A list of integers.

    Returns:
    list: A list containing only the even numbers.
    """
    return [num for num in numbers if num % 2 == 0]

In [10]:
nums = [1, 2, 3, 4,5, 6, 7, 8, 9, 10]
even_nums = get_even_numbers(nums)
print(even_nums)

[2, 4, 6, 8, 10]

##### 4.Write a function that takes a string and returns the reverse of the string.

In [11]:
def reverse_string(s):
    """
    Reverse the input string.

    Parameters:
    s (str): The string to reverse.

    Returns:
    str: The reversed string.
    """
    return s[::-1]

In [12]:
reverse_string("Python")

'nohtyP'

##### 5.Write a recursive function to calculate Fibonacci series up to n terms.

In [1]:
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

#### 2.Lambda Function (5 Questions)

##### 6.Write a lambda function to find the maximum of two numbers.

In [19]:
a = lambda var : var*2

In [20]:
a(6)

12

In [21]:
b = lambda var : var*2

In [22]:
b(7)

14

##### 7.Write a lambda function to count vowels in a given string.

In [23]:
str1 = 'python is a data science language'
count_vowels = lambda s: len(list(filter(lambda char: char.lower() in 'aeiou', s)))
print("Number of vowels:", count_vowels(str1))

Number of vowels: 12

##### 8.Use a lambda with map() to convert a list of integers into their cubes

In [24]:
numbers = [1, 2, 3, 4, 5]
cubes = list(map(lambda x: x**3, numbers))
print(cubes)

[1, 8, 27, 64, 125]

##### 9.Use a lambda with filter() to find numbers divisible by 5 from a list.

In [25]:
numbers = [10,15,20,55,30,85,74,50,25]
divisible_by_5 = list(filter(lambda x: x % 5 == 0, numbers))
print(divisible_by_5)

[10, 15, 20, 55, 30, 85, 50, 25]

##### 10.Use reduce() with lambda to find the product of all numbers in a list.

In [36]:
from functools import reduce
numbers = [2,3,4,5,6]
reduce(lambda x, y: x* y, numbers)
product = reduce(lambda x, y: x * y, numbers)
print(f"Numbers: {numbers}")
print(f"Product: {product}")

Numbers: [2, 3, 4, 5, 6]
Product: 720

#### 3.List comprehension(5 Question)

##### 11.Create list of squares of numbers from 1 to 20 using list comprehension.

In [27]:
l1 = [0,1,2,3,4,5,6,7,8,9,]

In [31]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

##### 12.Extract all words starting with vowel from a list of words.

In [33]:
words = ["apple", "banana", "orange", "grape", "umbrella", "kiwi", "elephant"]
vowel_words = list(filter(lambda word: word[0].lower() in 'aeiou', words))
print(vowel_words)

['apple', 'orange', 'umbrella', 'elephant']

##### 13.Generate a list of tuples (x, x^2) for numbers from 1 to 10.

In [88]:
lis = [(x, x**2) for x in range(1, 11)]
print(lis)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

##### 14.Flatten a 2D list using list comprehension.

In [34]:
matrix = [[j for j in range(4)] for i in range(4)]
flattened = [item for row in matrix for item in row]
print("2D Matrix:", matrix)
print("Flattened List:", flattened)

2D Matrix: [[0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3], [0, 1, 2, 3]]
Flattened List: [0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3, 0, 1, 2, 3]

##### 15.Create a list of prime numbers between 1 and 50 using list comprehension.

In [89]:
lis = [x for x in range(2, 51) if all(x % i != 0 for i in range(2, int(x**0.5) + 1))]
print(lis)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

#### 4.Class (5 Questions)

##### 16.Create a class Student with attributes name and marks, and a method to display details.

In [95]:
class Student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks

    def display_details(self):
        print(f"Student Name: {self.name}")
        print(f"Marks: {self.marks}")

In [97]:
s1 = Student("sunita",88)

In [98]:
s1.display_details()

Student Name: sunita
Marks: 88

##### 17.Create a class BankAccount with deposit and withdraw methods.

In [99]:
class BankAccount :
    
    def __init__(self, account_holder, initial_balance=0):
        self.account_holder = account_holder
        self.balance = initial_balance

    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposited {amount}. New balance: {self.balance}")
        else:
            print("Invalid deposit amount")

    def withdraw(self, amount):
        if 0 < amount <= self.balance:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance: {self.balance}")
        else:
            print("Invalid withdrawal amount or insufficient funds")

In [101]:
account = BankAccount("sunita",10000)
account.deposit(5000)     
account.withdraw(300)  
account.withdraw(2000)

Deposited 5000. New balance: 15000
Withdrew 300. New balance: 14700
Withdrew 2000. New balance: 12700

##### 18.Create a class Circle with a method to calculate area and circumference.

In [102]:
class Circle:
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return math.pi * self.radius ** 2

    def circumference(self):
        return 2 * math.pi * self.radius

In [103]:
c = Circle(5)

print("Area:", c.area())                     
print("Circumference:", c.circumference())

Area: 78.53981633974483
Circumference: 31.41592653589793

##### 19.Create a class Employee that increases salary by 10%.

In [40]:
class Employee:
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary

    def increase_salary(self):
        self.salary = self.salary * 1.10  

    def __str__(self):
        return f"Employee: {self.name}, Salary: {self.salary:.2f}"

emp = Employee("Alice", 5000)
print(emp) 
emp.increase_salary()
print(emp)

Employee: Alice, Salary: 5000.00
Employee: Alice, Salary: 5500.00

##### 20.Create a class Car with methods to start, stop, and display status.

In [108]:
class Car :

    def __init__(self, brand):
        self.brand = brand
        self.status = "Stopped"

    def start(self):
        if self.status != "Started":
            self.status = "Started"
            print(f"{self.brand} car started.")
        else:
            print(f"{self.brand} car is already running.")

    def stop(self):
        if self.status != "Stopped":
            self.status = "Stopped"
            print(f"{self.brand} car stopped.")
        else:
            print(f"{self.brand} car is already stopped.")
    def display_status(self):
        print(f"{self.brand} car is currently: {self.status}")

In [109]:
my_car = Car("Toyota")

my_car.display_status()  
my_car.start()            
my_car.start()            
my_car.display_status()   
my_car.stop()             
my_car.display_status()

Toyota car is currently: Stopped
Toyota car started.
Toyota car is already running.
Toyota car is currently: Started
Toyota car stopped.
Toyota car is currently: Stopped

#### 5.Inheritance (5 Questions)

##### 21.Create a base class Animal and a derived class Dog that overrides a method.

In [1]:
class Animal:
    def sound(self):
        print("Some sound")

class Dog(Animal):
    def sound(self):
        print("Bark")

# Test
a = Animal()
a.sound()  # Some sound

d = Dog()
d.sound()  # Bark

Some sound
Bark

##### 22.Create a base class Shape with method area(). Inherit Rectangle and Circle classes to implement area calculation.

In [2]:
class shape:
    def area(self):
        pass
class Rectangle(shape):
    def __init__(self, w, h):
        self.w = w
        self.h = h
    def area(self):
        return self.w * self.h
class circle(shape):
    def __init__(self, r):
        self.r = r
    def area(self):
        return 3.14 * self.r * self.r
# Test
print(Rectangle(5,3).area())       # 15
print(circle(4).area())            # 50.24

15
50.24

##### 23.Create a Person class and inherit Student and Teacher from it with additional attributes.

In [3]:
# Parent class
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

# Child class
class Student(Person):
    def __init__(self, name, age, roll):
        Person.__init__(self, name, age)   # call parent
        self.roll = roll

class Teacher(Person):
    def __init__(self, name, age, subject):
        Person.__init__(self, name, age)
        self.subject = subject

# Create objects
s = Student("Tanuja", 20, "S101")
t = Teacher("Umesh", 40, "Math")

# Print details
print("Student:", s.name, s.age, s.roll)
print("Teacher:", t.name, t.age, t.subject)

Student: Tanuja 20 S101
Teacher: Umesh 40 Math

##### 24.Create a Vehicle class and inherit Car and Bike with their specific features.

In [2]:
class Vehicle:
    def start(self):
        print("Vehicle started")

# Child class 1
class Car(Vehicle):
    def drive(self):
        print("Driving a car")

# Child class 2
class Bike(Vehicle):
    def ride(self):
        print("Riding a bike")

In [3]:
# Creating objects of child classes
c = Car()
b = Bike()


c.start()  # Inherited from Vehicle
c.drive()  # Car-specific method

b.start()  # Inherited from Vehicle
b.ride()   # Bike-specific method

Vehicle started
Driving a car
Vehicle started
Riding a bike

##### 25.Demonstrate multiple inheritance with a StudentAthlete class (inheriting from Student and Athlete).

In [4]:
class Student:
    def study(self):
        print("Studying")

class Athlete:
    def play(self):
        print("Playing sports")

class StudentAthlete(Student, Athlete):
    pass

# Test
sa = StudentAthlete()
sa.study()  # Studying
sa.play()   # Playing sports

Studying
Playing sports

#### 6.Polymorphism (5 Questions)

##### 26. Create two classes Cat and Dog with the same method speak(). Demonstrate polymorphism.

In [4]:
class Animal:
    def make_sound(self):
        pass  # This is a placeholder; subclasses will override it

class Dog(Animal):
    def make_sound(self):
        return "Woof!"

class Cat(Animal):
    def make_sound(self):
        return "Meow!"

class Bird(Animal):
    def make_sound(self):
        return "Chirp!"

In [5]:
o1= Dog()
o2 = Cat()
o3 = Bird()

In [6]:
animals = [o1,o2,o3]
animals

[<__main__.Dog at 0x1f4a4423b60>,
 <__main__.Cat at 0x1f4a45d4050>,
 <__main__.Bird at 0x1f4a45d41a0>]

In [7]:
for animal in animals:
    print(animal.make_sound())

Woof!
Meow!
Chirp!

##### 27. Demonstrate operator overloading by implementing addition of two Vector objects.

In [5]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

    def show(self):
        print(self.x, self.y)

# Test
v1 = Vector(2, 3)
v2 = Vector(5, 7)
(v1 + v2).show()  # 7 10

7 10

##### 28.Demonstrate method overloading using default parameters.

In [6]:
class Math:
    def add(self, a, b=0):
        return a + b

m = Math()
print(m.add(5,3))  # 8
print(m.add(5))    # 5

8
5

##### 29. Create a base class Shape with draw() method and override it in derived classes.

In [7]:
class Shape:
    def draw(self):
        print("Drawing shape")

class Rectangle(Shape):
    def draw(self):
        print("Drawing rectangle")

class Circle(Shape):
    def draw(self):
        print("Drawing circle")

Rectangle().draw()  # Drawing rectangle
Circle().draw()     # Drawing circle

Drawing rectangle
Drawing circle

##### 30. Demonstrate duck typing with classes having the same method name.

In [8]:
class ineuron4:
    def students(self):
        print("print a students details ")

class class_type :
    def student(self):
        print("print the class type of students")

In [9]:
def ineuron_external(a,b):
    a.students()
    b.student()

In [10]:
ineuron_external(ineuron4(),class_type())

print a students details
print the class type of students

#### 7.Encapsulation (5 Questions)

##### 31. Create a class Account with private balance attribute and provide methods to deposit and withdraw.

In [86]:
class BankAccount:
    def __init__(self, account_holder, balance):
        self.account_holder = account_holder
        self.__balance = balance  # Private attribute

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        return "Invalid deposit amount"

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        return "Invalid withdrawal amount"

    def get_balance(self):
        return self.__balance

In [87]:
account = BankAccount("sunita", 1000)
print(account.deposit(500)) 
print(account.withdraw(200))  
print(account.get_balance())

Deposited 500. New balance: 1500
Withdrew 200. New balance: 1300
1300

##### 32. Create a class with private attributes and use getter and setter methods to access them.

In [8]:
class Person:
    def __init__(self, name):
        self.__name = name  # private

    def get_name(self):
        return self.__name

    def set_name(self, name):
        self.__name = name

In [10]:
a = Person("isha")
print(a.get_name())
a.set_name("chiu")
print(a.get_name())

isha
chiu

##### 33. Demonstrate name mangling with private variables.

In [11]:
class Test:
    def __init__(self):
        self.__secret = 123

In [12]:
t = Test()
t._Test__secret

123

##### 34. Create a class Bank with encapsulated methods to show account details securely.

In [20]:
class Bank:
    def __init__(self, balance):
        self.__balance = balance

    def show_balance(self):
        print("Balance:", self.__balance)

    def deposit(self, amount):
        self.__balance += amount

# Test
b = Bank(5000)
b.show_balance()
b.deposit(1000)
b.show_balance()

Balance: 5000
Balance: 6000

##### 35. Demonstrate encapsulation by restricting access to class attributes.

In [21]:
class Product:
    def __init__(self, price):
        self.__price = price  # private

    def get_price(self):
        return self.__price

    def set_price(self, price):
        if price > 0:
            self.__price = price

# Test
item = Product(500)
print(item.get_price())
item.set_price(600)
print(item.get_price())

500
600

#### 8. Datetime Module (5 Questions)

##### 36. Write a program to display the current date and time.

In [21]:
import datetime

In [22]:
from datetime import date

In [30]:
from datetime import datetime

now = datetime.now()
print("Current date and time:", now)
print("Formatted datetime:", now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time: 2025-09-16 17:10:25.610518
Formatted datetime: 2025-09-16 17:10:25

##### 37. Wite a program to calculate a person’s age from their date of birth.

In [41]:
from datetime import datetime

dob_input = input("Enter your date of birth (YYYY-MM-DD): ")
dob = datetime.strptime(dob_input, "%Y-%m-%d")
today = datetime.today()

age = today.year - dob.year
if (today.month, today.day) < (dob.month, dob.day):
    age -= 1

print("Your age is:", age)

Enter your date of birth (YYYY-MM-DD):  2002-09-26

Your age is: 22

##### 38. Write a program to find the difference in days between two given dates.

In [31]:
from datetime import datetime, timedelta

now = datetime.now()
tomorrow = now + timedelta(days=2)
difference = tomorrow - now
print("Difference:", difference)

Difference: 2 days, 0:00:00

In [32]:
now

datetime.datetime(2025, 9, 16, 17, 12, 38, 664907)

In [33]:
tomorrow

datetime.datetime(2025, 9, 18, 17, 12, 38, 664907)

##### 39. Write a program to print the date 30 days from today.

In [84]:
from datetime import datetime, timedelta
today = datetime.today()
future_date = today + timedelta(days=30)
print("Today's date:", today.date())
print("Date after 30 days:", future_date.date())

Today's date: 2025-09-16
Date after 30 days: 2025-10-16

##### 40.Write a program to format today’s date as “DD/MM/YYYY” and “YYYY-MM-DD”.

In [85]:
from datetime import date

today = date.today()
print("Today's date:", today)
print("Formatted date:", today.strftime("%Y-%m-%d"))

Today's date: 2025-09-16
Formatted date: 2025-09-16

#### 9. Math Module (5 Questions)

##### 41. Write a program to calculate factorial using math.factorial().

In [23]:
import math as mt

In [24]:
mt.factorial(6)

720

##### 42. Write a program to find the greatest common divisor (GCD) of two numbers.

In [25]:
mt.gcd(30,65)

5

##### 43. Write a program to calculate square root, power, and logarithm using math module.

In [26]:
mt.sqrt(30)

5.477225575051661

In [27]:
mt.pow(4,2)

16.0

In [28]:
mt.log(10)

2.302585092994046

##### 44. Write a program to generate random numbers between 1 and 100 (using math and random).

In [75]:
import math
import random

num = random.randint(1, 100)

num = math.floor(1 * 100) + 1

print("Random number (1 to 100):", num)

Random number (1 to 100): 101

##### 45. Write a program to convert radians to degrees and vice versa.

In [73]:
degrees = 180
radians = mt.radians(degrees)
print("Radians:", radians)

Radians: 3.141592653589793

#### 10. Regular Expression Module (5 Questions)

##### 46. Write a regex to check if a string is a valid email address.

In [40]:
text = "Contact us at support@example.com or sales@mydomain.org, 34kghig@gmail.co.in"
emails = re.findall(r'\b[\w.-]+@[\w.-]+\.\w+\b', text)
print(emails)

['support@example.com', 'sales@mydomain.org', '34kghig@gmail.co.in']

##### 47. Write a regex to extract all numbers from a string.

In [58]:
txt = "I have 2 apples, 15 bananas, and 100 rupees."

In [61]:
numbers = re.findall(r'\b\w+@\w+\.\w+', text)

In [63]:
print(numbers)

[]

##### 48. Write a regex to validate if a string is a valid Indian mobile number (10 digits).

In [43]:
text = "Call me at 9876543210 or 919876543210 or +916545438567."
phones = re.findall(r'\b(?:\+91|91)?[6-9]\d{9}\b', text)
print(phones)

['9876543210', '919876543210', '916545438567']

##### 49. Write a regex to find all words starting with a capital letter in a sentence.

In [44]:
text = "India is a beautiful Country with the Taj Mahal in Agra."
caps = re.findall(r'\b[A-Z][a-z]*\b', text)
print(caps)

['India', 'Country', 'Taj', 'Mahal', 'Agra']

##### 50. Write a regex to replace all spaces in a string with a hyphen.

In [65]:
text = "Python    is   great   for  data  science."
cleaned = re.sub(r'\s+', '-', text)
print(cleaned)

Python-is-great-for-data-science.