##### 1.String (5 ouestions)

##### 1.Check if a given string is a palindrome.

In [1]:
r = input("Isha:")
word = r.lower()
Reverse = word[::-1]
if word == Reverse:
    print("she is so cute")
else:
    print("she is ugly")

Isha: she is so cute

she is ugly

##### 2. Count the number of vowels in a string and store the result in a dictionary.

In [2]:
def count_vowels(word):
    """This Function count the vowel in the word."""
    word = word.lower()
    a = e = i = o = u = 0
    for ch in word:
        if ch == "a":
            a += 1
        elif ch == "e":
            e += 1
        elif ch == "i":
            i += 1
        elif ch == "o":
            o += 1
        elif ch == "u":
            u += 1
            
    return {"a": a, "e": e, "i": i, "o": o, "u": u}

In [3]:
count_vowels("isha")

{'a': 1, 'e': 0, 'i': 1, 'o': 0, 'u': 0}

In [4]:
count_vowels("Hello My self isha")

{'a': 1, 'e': 2, 'i': 1, 'o': 1, 'u': 0}

In [6]:
s = "Festival"
vowels = "aeiou"
count = {v:s.count(v) for v in vowels}
for v in vowels:
    print(count)

{'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}
{'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}
{'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}
{'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}
{'a': 1, 'e': 1, 'i': 1, 'o': 0, 'u': 0}

##### 3. Convert the first letter of each word in a string to uppercase (title case manually).

In [8]:
word = "Hello my name is isha"
word.title()

'Hello My Name Is Isha'

##### 4.Find the most frequently occurring character in a string.

In [12]:
s1 = "Apple"
freq = {ch:s.count(ch) for ch in s1}
print(max(freq,key = freq.get))

l

##### 5.Count digits, alphabets, and special characters separately in a string.

In [13]:
w = input("Enter a string:")
digit = 0
alphabet = 0
special = 0

for ch in w:
    if ch.isalpha():
        alphabet += 1
    elif ch.isdigit():
        digit += 1
    else:
        special += 1   
print("alphabet",alphabet,"digit",digit,"special",special)

Enter a string: 2,3

alphabet 0 digit 2 special 1

#### 2.List (5 question)

##### 6.Remove duplicate elements from a list without using set().

In [16]:
list = [1,2,2,3,3,4,8,5,7,6,8,2,6,7,4,2,9,8]
new_list =[]

for i in list:
    if i not in new_list:
        new_list.append(i)
print(new_list)

[1, 2, 3, 4, 8, 5, 7, 6, 9]

##### 7. Reverse a list without using built-in functions.

In [1]:
list = [0,9,8,7,6,5,4,3,2,1]
list = list[::-1]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

##### 8.Find the 2nd largest and 2nd smallest element in a list.

In [4]:
numbers = [20,1,85,96,25,20,1456,200,15,]
n = sorted(numbers)
second_smallest = n[1]
second_largest = n[-2]

print("2nd smallest:",second_smallest,"2nd largest:",second_largest)
print(n)

2nd smallest: 15 2nd largest: 200
[1, 15, 20, 20, 25, 85, 96, 200, 1456]

##### 9.Store the square of each element of a list into a new list (using list comprehension)

In [5]:
l1 = [1,2,3,4,5,6,7,8,9,10,11]
[i**2 for i in l1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

##### 10.Flatten a nested list into a single list.

In [6]:
nested = [[1, 2], [3, 4], [5, 6]]
flattened = [x for sub in nested for x in sub]
print(flattened)

[1, 2, 3, 4, 5, 6]

#### 3.Tuple (5 question)

##### 11. Reverse a tuple without using [::-1].

In [13]:
t = (1, 2, 3, 4, 5)
t1 = tuple(reversed(t))  
print("Reversed tuple:", t1)

Reversed tuple: (5, 4, 3, 2, 1)

##### 12.Extract unique elements from a tuple and store them in a new list.

In [2]:
tuple = (1,"hello",True,2,4,False,[9,8,7,6],2,1,4,6,6,7)
unique = []
for i in tuple:
    if i not in unique:
        unique.append(i)
print(unique)

[1, 'hello', 2, 4, False, [9, 8, 7, 6], 6, 7]

##### 13.Concatenate two tuples and sort them.

In [1]:
t1 = (55,77,33,22,88,11)
t2 = (10,92,38,74,56)
Concatenate = t1 + t2
sort = tuple(sorted(Concatenate))
print(sort)

(10, 11, 22, 33, 38, 55, 56, 74, 77, 88, 92)

##### 14.Count the frequency of an element in a tuple without using count().

In [1]:
a1 = (3,6,5,9,5,3,6,7,6,5,2,7,8,9,4,5,7,2,1,4) # 1st way
element = int(input("Enter the element:"))
count = 0
for i in a1:
    if i == element:
        count += 1
print("element",element,"--","count",count)

Enter the element: 4

element 4 -- count 2

##### 15.From a tuple of numbers, create two tuples: one with even numbers and one with odd numbers.

In [7]:
n = (1,2,3,4,5,6,7,8,9,0)
even = []
odd = []
for i in n:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)
even = tuple(even)
odd = tuple(odd)
print("even",even)
print("odd",odd)

even (2, 4, 6, 8, 0)
odd (1, 3, 5, 7, 9)

#### 4.Set (5 Question)

#####  16.Perform union, intersection, and difference of two sets without using built-in operators.

In [45]:
# union
A = {1,2,3}
B = {4,5,6}
set = A|B
print("union:", set)

union: {1, 2, 3, 4, 5, 6}

In [46]:
# intersection
A = {1,2,3,4,5,6}
B = {5,6,7,8,9,10}
set = A & B
print("intersection:", set)

intersection: {5, 6}

In [47]:
# difference
A = {1,2,3,4}
B = {3,4,5,6}
diff1 = A - B
diff2 = B - A
print("A - B:",diff1)
print("B - A:",diff2)

A - B: {1, 2}
B - A: {5, 6}

##### 17.Remove a random element from a set (without using pop())

In [48]:
import random
s = {1,2,3,4,5,6,7,8,9,0} # set
x = list(s) # converting set into list
y = random.choice(x)  # it will pick any random element
s.remove(y) # and remove that random element from set

print("Removed:",y)
print("Updated:",s)

Removed: 2
Updated: {0, 1, 3, 4, 5, 6, 7, 8, 9}

##### 18.Convert a list into a set and check if duplicates are removed.

In [1]:
l1 = [2,2,4,4,5,5,6,6,6,7,7,7]
s1 = set(l1)
print(s1)

{2, 4, 5, 6, 7}

##### 19.Check if two sets are disjoint.

In [49]:
a ={1,2}
b ={3,4}
a.isdisjoint(b)

True

##### 20.Find the sum of all elements in a set.

In [50]:
a = {123,156,1789,236,456,789,852}
sum(a)

4401

#### 5.Dictionary (5 Questions)

##### 21.Create a dictionary and print keys in ascending order.

In [51]:
dict = {"b":2, "c":3, "a":1}
s=sorted(dict.keys())
print(s)

['a', 'b', 'c']

##### 22.Add a new key to a dictionary with value equal to the sum of existing values.

In [52]:
d = {"a": 10, "b": 20, "c": 30} 
d_total = sum(d.values())
print(d_total)

60

In [53]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [54]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d2.update(d1)
print(d2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [55]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
merged = {**d1,**d2}
print(merged)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

##### 24.Find the key with the largest value in a dictionary.

In [56]:
d = {"a": 500, "b": 150, "c": 100}
max_key = max(d, key=d.get)
print(max_key)

a

##### 25.Store the frequency of characters of a string in a dictionary.

In [1]:
s = "Basketball"
freq = {Ba: s.count(Ba) for Ba in set(s)}
print(freq)

{'b': 1, 'B': 1, 't': 1, 's': 1, 'l': 2, 'a': 2, 'k': 1, 'e': 1}

#### 6.Conditional Statements (5 Questions)

##### 26.Take age as input and check if the person is eligible to vote or not.

In [9]:
def Eligibility():
    age = int(input("Enter your name: "))
    if age >=20:
        print("you are eligible to vote.")
    else:
        print("you are not eligible to vote.")

In [11]:
Eligibility()

Enter your name:  21

you are eligible to vote.

##### 27.Find the largest among three numbers (using nested if).

In [13]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a >= b:
    if a >= c:
        print("Largest number is:", a)
    else:
        print("Largest number is:", c)
else:
    if b >= c:
        print("Largest number is:", b)
    else:
        print("Largest number is:", c)

Enter first number:  25
Enter second number:  12
Enter third number:  12

Largest number is: 25

In [14]:
a,b,c = 10,20,30
if a > b and a > c:
    print("Largest number is:",a)
elif b > a and b > c:
    print("Largest number is:",b)
else:
    print("Largest number is:",c)

Largest number is: 30

In [15]:
a,b,c = 10,20,30
print("Largest number is:",max(a,b,c))

Largest number is: 30

##### 28.Check if a given number is prime or not.

In [17]:
n = int(input("enter a number "))
if n==2:
    print("it is a prime number ", n)
elif n==3:
    print("it is a prime number ", n)
    
elif n%3==0 or n%2==0 or n%5==0 or n%7==0:
    print("it is divisible by 3 or 2 or 5")
else:
    print("it is a prime number")

enter a number  3

it is a prime number  3

##### 29.Assign grade (A, B, C, Fail) based on marks input.

In [6]:
marks = int(input())
if marks < 0 or marks > 100:
    print("Invalid marks.")
elif marks >= 80:
    print("Grade: A")
elif marks >= 60:
    print("Grade: B")
elif marks >= 40:
    print("Grade: C")
else:
    print("Grade: Fail")

 85

Grade: A

##### 30.Check if a number is positive, negative, or zero.

In [12]:
number = int(input())
if number >= 0:
        print("The number is positive.")
elif number <= 0:
        print("The number is Negative.")
else:
        print("The number is Zero.")

 0

The number is positive.

#### 7.Loops – For & While (5 Questions)

##### 31.Print the first 10 numbers of the Fibonacci series using for loop.

In [16]:
a, b = 0, 1
for _ in range(10):
    print(a, end=" ")
    a, b = b, a + b

0 1 1 2 3 5 8 13 21 34

##### 32.Find the factorial of a number using while loop.

In [18]:
n= 4
fact = 1
while n > 0:
    fact *=n
    n  -= 1
print("\nFactorial:",fact)

Factorial: 24

##### 33.Input a number and find the sum of its digits using while.

In [19]:
n = 1234
s = 0
while n > 0:
    s += n % 10
    n //= 10
print("sum of didgit:",s)

sum of didgit: 10

##### 34.Print all elements of a list in reverse order without using reverse().

In [27]:
l1 = [4,8,12,16,20,24,28,32,36,40]
for i in range(len(l1) - 1, -1, -1):
    print(l1[i])

40
36
32
28
24
20
16
12
8
4

##### 35.Print a star pattern (triangle) using nested loops.

In [29]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *

#### 8.File Handling (5 Questions)

##### 36.Write some text into a file and then read and print it.

In [36]:
f = open("test1.txt", "w")
f.write("Hello myself Isha")
f.close()

In [38]:
f = open("test1.txt", "r")

In [39]:
f.read()

'Hello myself Isha'

##### 37.Count the total number of lines in a file.

In [8]:
file = open("test1.txt", "r")
line = file.readline()
print(line)
file.close()

Hello myself Isha

##### 38.Count vowels and consonants in a file.

In [10]:
f= open("test.txt", "r" )
text = f.read().lower()
f.close()
vowels = 0
consonants = 0
for ch in text:
    if ch.isalpha():
        if ch in "aeiou":
            vowels += 1
        else:
            consonants += 1

print("Vowels:", vowels)
print("Consonants:", consonants)

Vowels: 0
Consonants: 0

##### 39.Convert the content of a file into uppercase and store it in another file.

In [13]:
with open("test1.txt") as f:
    lines = f.read().upper()
with open("upper.txt", "w") as f:
    f.write(lines)
    f.close()

In [14]:
f = open("upper.txt", "r")
f.read()

'HELLO MYSELF ISHA'

##### 40.Read a CSV file and print its rows.

In [16]:
import csv
with open("test1.txt", newline="") as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['Hello myself Isha']

#### 9. OS Module (5 Questions)

In [17]:
import os

##### 41.Print the current working directory using os module.

In [18]:
os.getcwd()

'C:\\Users\\ishab\\Assisement 1'

##### 42.Create a new folder using os module and create a file inside it.

In [20]:
os.mkdir("isha")
f = open("isha/newfile.txt","w")
f.write("current working directory")
f.close()
print("IPython won't let you open fd={file} by default")

IPython won't let you open fd={file} by default

##### 43. List all files and folders inside a directory.

In [21]:
os.listdir()

['.ipynb_checkpoints',
 'isha',
 'newfolder',
 'practice set.ipynb',
 'test.txt',
 'test1.txt',
 'upper.txt']

##### 44.Check the size of a file using os module.

In [23]:
filename = "test1.txt"
size = os.path.getsize(filename)
print(f"File size of {filename} is: {size} bytes")

File size of test1.txt is: 17 bytes

##### 45.count all.txt files in a directory.

In [24]:
files = os.listdir()
count = 0
for f in files:
    if f.endswith(".txt"):
        count += 1
result = {".txt files:", count}
print(result)

{'.txt files:', 3}

#### 10.Try-Exception (5 Questions)

##### 46.Write a program that takes user input and prints its square. Handle errors if input is invalid.

In [25]:
try:
    num = int(input("Enter a number: "))
    print("Square is:", num**2)
except ValueError:   
    print("Invalid input! Please enter a number.")

Enter a number:  2

Square is: 4

##### 47.Handle ZeroDivisionError with an example program.

In [33]:
try:
    x = int(input("Enter a number: "))
    y = 10 / x
    print(f"Result: {y}")
except Exception as e:
    print(f"Error occurred: {e}")
else:
    print("No exceptions occurred.")
finally:
    print("Execution completed.")

Enter a number:  0

Error occurred: division by zero
Execution completed.

##### 48.Handle FileNotFoundError with an example program.

In [35]:
try:
    f = open("sample.txt", "r")   
    print(f.read())
    f.close()
except FileNotFoundError:
    print("File not found!")

File not found!

##### 49.Handle both ValueError and TypeError with an example.

In [36]:
try:
    num = int(input("Enter a number: "))   
    result = num + "5"                     # this code will show the error 
    print(result)
except ValueError:
    print("ValueError: Please enter numbers only!")
except TypeError:
    print("TypeError: Cannot add number and string together!")

Enter a number:  5

TypeError: Cannot add number and string together!

##### 50.Write a program with finally block that opens and closes a file.

In [37]:
try:
    file = open("example.txt", "w")
    file.write("Hello, Python!")
    print("File written successfully.")
except Exception as e:
    print("An error occurred:", e)
finally:
    file.close()
    print("File closed successfully.")

File written successfully.
File closed successfully.